<head></head>

<style>
    .car-fit{
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>
<body>
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
            <!--<a class="btn waves-effect white grey-text darken-text-2">button</a>-->
        </div>
        <div class="carousel-item car-fit white-text" href="#one!" style="background-image:url('/story_list.png');">
        </div>
        <div class="carousel-item car-fit white-text" href="#two!" style="background-image:url('/noti_jung_list.png');">
        </div>
        <div class="carousel-item car-fit white-text" href="#three!" style="background-image:url('/noti_sulhyeon_list.png');">
        </div>
    </div>

    <script>
        $('.carousel.carousel-slider').carousel({fullWidth: true});
    </script>
</body>
